{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron" style="text-orientation: sideways;">

    <div class='container align-items-center'>
        <img class="m-auto" src="{% static '/assets/icons/bootstrap.svg' %}" alt="" width="1040" height="100">
    </div>

    <div class="pricing-header px-4 py-5 pt-md-5 pb-md-6 mx-auto text-center">
        <h1 class="display-4" style="font-family: fantasy;"><strong><b>Welcome To The Blog.</b></strong></h1>
        <p class="lead" style="font-weight: 500; font-style: italic; padding-bottom: 50;"><b>I learned to quickly build an effective blog site for potential customers or my github personal projects with this Bootstrap example. 
            It’s built with default Bootstrap components and utilities with little effort on customization. You can <a href="{% url 'register' %}" style="color: rgb(5, 5, 145);">create an account</a> for making your own blog posts, contributing to other posts, and many other things.</b></p>
      </div>

    <h1 style="align-items: center; text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><strong>BLOG POSTS.</strong></h1>
    <hr style="padding-top: 30 !important; padding-bottom: 30 !important;">

    {% for blog in blogs %}

        <div class="jumbotron" style="background-color: rgb(37, 22, 100); color: whitesmoke; text-indent: 5%; font-size: larger;">
            <h2 style="padding-bottom: 40px; text-align: left; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><b>{{blog.title.title}}</b></h2>
                <img src="" style="width: auto; height: auto;">
            <div class="jumbotron" style="padding-top: 15; padding-bottom: 20;">
            
                <p class="blog-body" style="text-align: left; font-weight: 200;" > {{blog.body}}</p>
                <br>
                <hr>
                <p style="text-align: right;"><small><strong>Posted By - {{blog.author.username}} - On - {{blog.date_published.date}} By {{blog.date_published.time}}.</strong></small></p>
            </div>
        </div>
    
    {% endfor %}
</div>
{% endblock content %}