{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron" style="text-orientation: sideways;">

    <div class='container align-items-center'>
        <img class="m-auto" src="{% static '/assets/icons/bootstrap.svg' %}" alt="" width="1040" height="100">
    </div>

    <div class="pricing-header px-4 py-5 pt-md-5 pb-md-6 mx-auto text-center">
        <h1 class="display-4">Welcome To The Blog.</h1>
        <p class="lead">I learned to quickly build an effective blog site for potential customers or my github personal projects with this Bootstrap example. 
            It’s built with default Bootstrap components and utilities with little effort on customization. You can <a href="{% url 'register' %}" style="color: rgb(5, 5, 145);">create an account</a> for making your own blog posts, contributing to other posts, and many other things.</p>
      </div>

    <h3>Registered Users.</h3>
    <hr>

    {% for account in accounts %}

        <div class="jumbotron" style="background-color: rgb(37, 22, 100); color: whitesmoke; text-indent: 10%;">
            <p> * {{account.username.title}}</p>
        </div>
    
    {% endfor %}
</div>
{% endblock content %}